/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.next{display: none;}
.next2{display: none;}
.next3{display: none;}

.yes{display: none;}
.yes2{display: none;}
.yes3{display: none;}
.yes4{display: none;}
.yes5{display: none;}
.yes6{display: none;}
.yesss{display: none;}
