/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.next{display: none;}
.next2{display: none;}
.next3{display: none;}
.yes{display: none;}